h2 {
	color: red;
	text-align: center;
	font-family:'Arial Black';

}
h3{
	font-family:'Arial Black';
	}

.Bac{
font-family:'Arial Black';
	}
.mot{
    color: red;
    
	}
body {
       
	}


p {
	border: 3px blue solid;
	
	}


#contenu {
	width: 80%;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}
h1, h1 + p
{
    text-align: center;
}

img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}
#liseret
{   
    width: 10%;
    margin-right: 3%;
    height: 1900px;
    background-image: url('images/lodyas.png');
    border-radius: 10px;
}
#liseret, #contenu
{
    display: inline-block;
    vertical-align: top;
}